header{
    background-color: black;
    padding: 12px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.background {

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    inset: 0;
    background:
      linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
      url("Design sem nome (2).png");

    background-size: 1200px;
    background-position: center;
    z-index: -1;
    
    
}

.cabecalho {
    display: flex;
    flex-direction:row;
}

.fluxo {
    color: orangered;
    font-weight: 700;
}

.tv {
    color:white;
    font-weight: 700;
}

.box {

    size: 200px;
    align-items: center;
    width: 300px;
    
    background: rgba(0,0,0,0.85);
    padding: 30px;
    border-radius: 8px;

    display: flex;
    flex-direction:column;
    gap: 12px;
}

.box input{
    padding: 12px;
    border-radius: 4px;
    border: none;
    background: #333;
    color: white;
    width: 100%;
}

.box input::placeholder{
    color:#aaa;
    width: 100%;
}

.box button{
    padding: 12px;
    background: rgb(255, 102, 0);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    width: 323px;
}

.titulo{
    text-align: center;
    color: white;
}

.opcao{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #ccc;
    align-items: center;
    width: 100%;
}

.cadastrar{
    width: 100%;
    color: white;
}
.descricao{
    color: white;
    font-size: 0.9rem;
    width: 100%;
}

.box p{
    color: white;
    
}


