.background {
    position: fixed;
    inset: 0;
    background:
      linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
      url("Design sem nome (2).png");

    background-size: cover;
    background-position: center;
    z-index: -1;
    
}

.cabecalho {
    display: flex;
    flex-direction:row;
}

.fluxo {
    color: orangered;
    font-family:Arial, Helvetica, sans-serif;
}

.tv {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}