header{
    background-color: black;
    padding: 12px;
}

footer{
    background-color: black;
    padding:12px;
    color: #aaa;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.background {

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 100px);
    
    background:
      linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
      url("Design sem nome (2).png");

    background-size: 1150px;
    background-position: center;
    
    
}

.cabecalho {
    display: flex;
    flex-direction:row;
    padding-left: 20px;
}

.fluxo {
    color: rgb(255, 102, 0);
    font-weight: 700;
    font-size: 25px;

}

.tv {
    color:white;
    font-weight: 700;
    font-size: 25px;
}

.box {

    size: 200px;
    align-items: center;
    width: 280px;
    
    background: rgba(0,0,0,0.85);
    padding: 30px;
    border-radius: 8px;

    display: flex;
    flex-direction:column;
    gap: 12px;
    font-size: 12px;
}

.box input{
    padding: 12px;
    border-radius: 4px;
    border: none;
    background: #333;
    color: white;
    width: 257px;
    
}

.box input::placeholder{
    color:#aaa;
}

.box button{
    padding: 12px;
    background: rgb(255, 102, 0);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    color: black;
    width: 100%;
}

.titulo{
    text-align: center;
    color: white;
}

.opcao{
    display: flex;
    justify-content: flex-start;
    font-size: 0.8rem;
    color: #ccc;
    align-items:center;
    
}

.opcao label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.cadastrar{
    width: 100%;
    color: white;
}
.descricao-box{
    margin-top: 20px;
    color: white;
    font-size: 0.9rem;
}

.descricao-box summary {
    list-style: none;
}

.descricao-box::-webkit-details-marker {
    display: none;
}

.descricao-toggle {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.descricao-toggle:hover {
    color: #fff;
}

.seta {
    transition: transform 0.3s ease;
}

.descricao-box[open] .seta{
    transform: rotate(180deg);
}

.descricao-conteudo {
    margin-top: 10px;
    line-height: 1.5;
    animation: fadeIn 0.3s ease;
    font-size: small;
}

@keyframes fadeIN {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.box p{
    color: white;

}

.rodape1{
    font-size: 13px;
    border-top: #333;
    padding-left: 20px;
}

.rodape2{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    gap: 16px;
    padding-left: 20px;
}


